<Jumbo>
  <LinkTo @route="products" class="button" data-test="products-button">Back to products</LinkTo>
  <LinkTo @route="checkout" class="button" data-test="checkout-button">Checkout</LinkTo>
  <h2 data-test="page-title">SaleAll - Here you'll find your CART</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae hic sequi optio debitis amet eos, odit perspiciatis
    unde adipisci sunt molestiae illo nemo! Praesentium cumque atque beatae omnis ab consectetur.
  </p>
</Jumbo>