<Jumbo>
  <h2 data-test="page-title">SaleAll - Here you'll find your CHECKOUT PROCESS</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae hic sequi optio debitis amet eos, odit perspiciatis
    unde adipisci sunt molestiae illo nemo! Praesentium cumque atque beatae omnis ab consectetur.
  </p>
  <LinkTo @route="products" class="button" data-test="products-button">Continue Shopping</LinkTo>
</Jumbo>