<Jumbo>
  <h2 data-test="page-title">Contact Us</h2>
  <p>
    I'll love to know your feedback about this app.
  </p>
  <address>
    SaleApp - Frontend Challenge
    <p>
      Ciudad Autónoma de Buenos Aires<br>
      Buenos Aires, AR 1212
    </p>
    <a href="tel:5491168453047" data-test="telf-link">+54 (911) 6845-3047</a><br>
    <a href="mailto:karinduboy@gmail.com" data-test="mail-link">karinduboy@gmail.com</a>
  </address>
</Jumbo>