<Jumbo>
  <img class="tomster" src="{{rootURL}}assets/images/goodfood.png" alt="" />
  <h2 data-test="app-title">Welcome SalesApp!</h2>
  <p>The Frontend Challenge for Kantox</p>
  <h3>by Karin Duboy</h3>
  <LinkTo @route="products" class="button" data-test="products-button">Catalog</LinkTo>
</Jumbo>