<Jumbo>
  <LinkTo @route="index" class="button" data-test="home-button">Home</LinkTo>
  <LinkTo @route="cart" class="button" data-test="cart-button">View Cart</LinkTo>
  <h2 data-test="page-title">SaleAll - Here you'll find your PRODUCTS LIST</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae hic sequi optio debitis amet eos, odit perspiciatis
    unde adipisci sunt molestiae illo nemo! Praesentium cumque atque beatae omnis ab consectetur.
  </p>
</Jumbo>